/* Variables */
:root {
    --primary-color: #194023;
    --secondary-color: #276336;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white;
}
a {
    color:white;
}
header{
    position:fixed;
    top:0;
    width:100%;
    z-index: 1;
}
/* Navbar */
.navbar {
    background-color: var(--primary-color);
    color: #fff;
    display: flex;
    align-items: center;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.logo {
    flex: 1;
    padding: 0 20px;
}

.logo-img {
    max-height: 60px;
    filter: invert(100%);
}

.nav-icons {
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.menu-icon,
.account-icon {
    margin: 0 10px;

}

.menu-icon img,
.account-icon img {
    height: 30px;
}

/* Wrapper y contenido */
.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    padding: 20px;
}

/* Footer */
.footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 5px 20px; /* Reducir el padding vertical para disminuir la altura */
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10; /* Asegúrate de que el z-index sea positivo para que no quede detrás de otros elementos */
}

.logo-left,
.logo-right {
    width: 40px; /* Reducir tamaño si es necesario */
    height: 40px; /* Reducir tamaño si es necesario */
}
.logo-right {
    filter: invert(100%);
}

.center-text {
    font-size: 16px;
    margin: 0 20px; /* Ajustar margen según necesidades */
}

/* Media queries para diferentes tamaños de dispositivos */
@media (max-width: 768px) {
    .footer {
        padding: 5px 10px; /* Aún menor padding para dispositivos más pequeños */
    }

    .logo-left,
    .logo-right {
        width: 30px; /* Más pequeño para dispositivos más pequeños */
        height: 30px; /* Más pequeño para dispositivos más pequeños */
    }

    .center-text {
        font-size: 14px; /* Fuente más pequeña para dispositivos más pequeños */
        margin: 0 10px; /* Menor margen para dispositivos más pequeños */
    }
}

@media (max-width: 576px) {
    .center-text {
        font-size: 12px; /* Fuente más pequeña para dispositivos muy pequeños */
        margin: 0; /* Eliminar margen si es necesario para dispositivos muy pequeños */
    }
}


/* Menú hamburguesa */
.menu-items {
    list-style: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 60px;
    right: -100%;
    background-color: var(--primary-color);
    width: 25%;
    transition: right 0.3s ease;
    height: 100%;
}

.menu-items.menu-open {
    right: 0;
}

.menu-items li {
    padding: 20px;
    transition: background-color 0.3s ease;
}

.menu-items a {
    color: #fff;
    text-decoration: none;
}

/* Cambiar el color al pasar el mouse sobre cada li */
.menu-items li:hover {
    background-color: var(--secondary-color);
    color:white;
}

button[type="submit"] {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #276336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

