

h1 {
    margin-top: 20px;
    font-size: 24px;
}

.cine {
    display: inline-block;
    margin: 20px;
    position: relative;
    background-color: #fff;
    border-radius: 15px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.pantalla {
    background-color: #333;
    color: #fff;
    font-size: 18px;
    padding: 10px;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    border-top-left-radius: 15px; 
    border-top-right-radius: 15px; 
}

.fila {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 10px; 
}

.seat {
    width: 30px;
    height: 30px;
    background-color: #008f39;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 50%; 
    flex: 0 0 14%; 
}

.seat.selected {
    background-color: #f9a825;
}

.seat:hover {
    background-color: #ff5555;
}

.seat.reserved {
    background-color: #ff5555;
    cursor: not-allowed;
}

#reservar {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #49a5db;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px;
}

#reservar:hover {
    background-color: #008f39;
}
