#container {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

#text {
    width: 45%;
}

#tables {
    width: 50%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 5px solid rgba(0, 0, 0, 0);
    padding: 8px;
    text-align: center;
}

th {
    background-color: #FFFFFF;
}

tr:nth-child(even) {
    background-color: #FFFFFF; /* Color verde para filas pares */
}

tr:nth-child(odd) {
    background-color: #FFFFFF; /* Color verde para filas impares */
}

caption {
    caption-side: top;
    font-weight: bold;
    margin-bottom: 10px;
    color: #FFFFFF;
}