.container {
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 18%;
}

.btn {
    padding: 10px 10px;
    background-color: #276336;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    margin: 20px; 
    text-decoration: none;
}
