
.wrapper{
    margin: 100px
}
main {
    max-width: 40%;
    width: 100%;
    margin: auto;
    padding: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
    background-color: #0F2615;
    border: none;
    border-radius: 1vw;
    color: #fff;
}

h1 {
    text-align: center;
}

form {
    max-width: 35vw;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
    width: 100%;
    padding: 1.5%;
    border-radius: 5px;
    border: 1px solid black;
}

input[type="submit"] {
    width: 15vh;
    height: 3vw;
    background-color: #194023;
    color: white;
    font-size: 15px;
    font-weight: bolder;
    border: none;
    border-radius: 5px;
    margin-top: 30px;
}